{% extends 'core/base.html' %}
{% load static %}
{% block content %}

   <p style="text-align: left;font-size: 40px;">Administrar Tienda</p>



   
    <p><div><a href="mantenedor usuarios.html">Mantenedor de Usuarios</a></div></p>

    <p><div><a href="productos.html">Mantenedor de Productos</a></div></p>
    
    <p><div><a href="ventas.html">Historial de ventas</a></div></p>

    <p><div><a href="bodega.html">Mantenedor de Bodega</a></div></p>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}

    

    



    
        
     

         

  