{% extends 'core/base.html' %}
{% load static %}



{% block content %}
  <body>
    
    
    

    <h1>Ficha Producto</h1>
    <div class="container mt-5">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4">
          <img src="{% static 'core/img/producto19563_1.webp' %}" class="img-fluid" alt="Imagen" style="width: 30rem;">
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Super Mario Maker 2</h5>
              <p class="card-text">DISPONIBLE</p>
              <h2 class="card-text">$64.999</h2>
              <h6 class="card-subtitle mb-2 text-muted">Descripcion:</h6>
              <p class="card-text">En Super Mario Maker 2 los jugadores crean niveles de plataformas con obstáculos, enemigos y power-ups de la serie Mario.</p>
              <p class="card-text">STOCK: 2</p>
              <a href="ingresar.html" class="btn btn-primary">Comprar Ahora</a>
              <a href="ingresar.html" class="btn btn-primary">Agregar al Carro</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
    
    
  </body>
</html>
