{% extends 'core/base.html' %}
{% load static %}



{% block content %}
  <body>
    
    
    

    <h1>Ficha Producto</h1>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="card p-2">
            <div class="d-flex justify-content-center align-items-center" style="max-width: 100%; max-height: 100%; object-fit: contain;">
          <img id="perfilImg" src="/media/{{producto.imagen}}" class="img-fluid" alt="Imagen">
        </div>
      </div>
    </div>



        <div class="col-lg-6">
          <div class="card" style="height: 34.5rem;">
            <div class="card-body">
              <p class="card-text">
                {{producto.nombre}}
              </p>
              <p class="card-text">
                ***Disponible***
              </p>
              <p class="card-text">
                Precio: {{producto.precio}} 
              </p>
              <p class="card-text">
                Descripción:
              </p>
              <p class="card-text">
                {{producto.descripcion}}
              </p>
              <p class="card-text">***STOCK: 2***</p>
              <a href="ingresar.html" class="btn btn-primary">Comprar Ahora</a>
              <a href="ingresar.html" class="btn btn-primary">Agregar al Carro</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock content %}
    
    
  </body>
</html>
