{% extends 'core/base.html' %}
{% load static %}



{% block content %}
<body>


    <h1>Fentanyl Games</h1>

    <!-- carrousel -->
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'core/img/modern-warfare-nuevo.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>30% Oferta</h5>
                    <p>Obtiene un 30% de descuento en la primera compra</p>
                </div>
            </div>

            <div class="carousel-item">
                <img src="{% static 'core/img/mario-wonder-nuevo.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>30% Oferta</h5>
                    <p>Obtiene un 30% de descuento en la primera compra</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/fc24-nuevo.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>30% Oferta</h5>
                    <p>Obtiene un 30% de descuento en la primera compra</p>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!--Cards-->
    <div class="container-fluid">
        <div class="row">

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/producto19563_1.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$64.999</p>
                    <p class="card-text text-center">Super Mario Maker 2</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">Super Mario Maker 2 es un juego donde puedes crear y jugar niveles de Mario hechos por la comunidad.</p>
                    <p class="card-text text-center">En Stock: 3 Unidades</p>
                    <div class="text-center">
                        <a href="{% url 'core/ficha' %}" class="btn btn-primary">Comprar</a>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/producto22490_1.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$54.999</p>
                    <p class="card-text text-center">Paper Mario Origami King</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">Paper Mario Origami King es un juego de aventuras donde Mario lucha contra enemigos de papel y resuelve puzzles para salvar el Reino Champiñón.</p>
                    <p class="card-text text-center">En Stock: 2 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/producto24750_1.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$64.999</p>
                    <p class="card-text text-center">Pokémon Brilliant Diamond</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">Pokémon Brilliant Diamond es un juego de rol donde los jugadores exploran la región de Sinnoh, capturan Pokémon y compiten en batallas para convertirse en campeones de la Liga Pokémon.</p>
                    <p class="card-text text-center">En Stock: 5 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/pvpokearceus.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$69.999</p>
                    <p class="card-text text-center">Pokémon Legends Arceus</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">Pokémon Legends: Arceus es un juego de mundo abierto en la región de Sinnoh antigua. Los jugadores capturan Pokémon salvajes y completan misiones para la primera Pokédex.</p>
                    <p class="card-text text-center">En Stock: 5 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/producto24286_1.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$59.999</p>
                    <p class="card-text text-center">New Pokémon Snap</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">En New Pokémon Snap, los jugadores exploran diversas islas para fotografiar Pokémon en su hábitat natural. Capturan momentos únicos y descubren comportamientos sorprendentes.</p>
                    <p class="card-text text-center">En Stock: 5 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/1_2__5.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$59.999</p>
                    <p class="card-text text-center">FIFA 23</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">FIFA 23 es el último juego de la serie de fútbol, con mejoras en la jugabilidad, gráficos realistas y modos de juego como el Ultimate Team y el Modo Carrera.</p>
                    <p class="card-text text-center">En Stock: 5 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

            <div class="card mx-auto" style="width: 18rem; margin:30px">
                <img src="{% static 'core/img/halo.webp' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-text text-center">Disponible</h5>
                    <p class="card-text text-center">$59.999</p>
                    <p class="card-text text-center">Halo Infinite</p>
                    <p class="card-text text-center">Descripción:</p>
                    <p class="card-text text-center">Halo Infinite continúa la saga del Jefe Maestro con una campaña épica y un modo multijugador gratuito. Descubre secretos y enfréntate a nuevos desafíos en un mundo abierto.</p>
                    <p class="card-text text-center">En Stock: 5 Unidades</p>
                    <div class="text-center">
                        <button type="button" class="btn btn-primary">Comprar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--Jumbotron-->
{% endblock content %}



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBogGz5eFS3Fp6LYgUpTEEGx3Dk5pM4wz4p3FZ5C43bbjkfS" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-3EiiQOdmnCzptF1F0aFlbZfRBvYwSc7wJpCFzFGlH/WXtM5VYp3k+g7OdB0N1PEn" crossorigin="anonymous"></script>
</body>

</html>
