{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <!-- Tablas -->
    <div class="container">
      <h1 class="mt-5">Mis compras anteriores</h1>
      <table class="table mt-4">
          <thead>
              <tr>
                  <th>Nro Boleta</th>
                  <th>Fecha venta</th>
                  <th>Fecha despacho</th>
                  <th>Fecha entrega</th>
                  <th>Monto total</th>
                  <th>Estado actual</th>
                  <th>Opciones</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>123</td>
                  <td>2/1/1987</td>
                  <td>2/2/2002</td>
                  <td>2/2/2003</td>
                  <td>$20.000</td>
                  <td>Entregado</td>
                  <td>
                    <button type="button" class="btn btn-primary" style="float:right">Ver Detalle</button>
                  </td>
              </tr>
              <tr>
                <td>666</td>
                <td>5/6/1987</td>
                <td>1/6/2008</td>
                <td>9/2/2011</td>
                <td>$15.000</td>
                <td>Despachado</td>
                <td>
                  <button type="button" class="btn btn-primary" style="float:right">Ver Detalle</button>
                </td>
            </tr>
            <tr>
              <td>963</td>
              <td>2/11/2008</td>
              <td>5/6/2009</td>
              <td>10/12/2020</td>
              <td>$30.000</td>
              <td>Vendido</td>
              <td>
                <button type="button" class="btn btn-primary" style="float:right">Ver Detalle</button>
              </td>
          </tr>
          <tr>
            <td>684</td>
            <td>2/4/2022</td>
            <td>5/7/2022</td>
            <td>26/11/2022</td>
            <td>$8.000</td>
            <td>Entregado</td>
            <td>
              <button type="button" class="btn btn-primary" style="float:right">Ver Detalle</button>
            </td>
        </tr>

  </div>
  </tbody>
  </table>
  </div>

<br><br><br><br><br><br><br><br><br><br>
    

  {% endblock content %}
  