{% extends 'core/base.html' %}
{% load static %}

{% block content %}
   
<!--Tabla-->
  
    <!-- Tablas -->
    <div class="container">
      <h1 class="mt-5">Historial de Ventas</h1>
      <table class="table mt-4">
          <thead>
              <tr>
                  <th>Nro Boleta</th>
                  <th>Fecha venta</th>
                  <th>Nombre clientes</th>
                  <th>Subscrito</th>
                  <th>Monto total</th>
                  <th>Estado actual</th>
                  <th>Detalle</th>
                  <th>Cambiar estado</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>123</td>
                  <td>2/1/2024</td>
                  <td>Rodrigo Mendoza</td>
                  <td>Si</td>
                  <td>$20.000</td>
                  <td>Entregado</td>
                  <td>
                    <button type="button" class="btn btn-primary">Detalle</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-primary">Anulado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Vendido</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Despachado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Entregado</button>&nbsp;&nbsp;
                  </td>
              </tr>
              <tr>
                <td>435</td>
                <td>2/3/2024</td>
                <td>Carlos Mendez</td>
                <td>No</td>
                <td>$400.000</td>
                <td>Despachado</td>
                <td>
                  <button type="button" class="btn btn-primary">Detalle</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary">Anulado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Vendido</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Despachado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Entregado</button>&nbsp;&nbsp;
                </td>
            </tr><tr>
                <td>444</td>
                <td>2/5/2024</td>
                <td>Julian Suarez</td>
                <td>Si</td>
                <td>$59.000</td>
                <td>Vendido</td>
                <td>
                  <button type="button" class="btn btn-primary">Detalle</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary">Anulado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Vendido</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Despachado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Entregado</button>&nbsp;&nbsp;
                </td>
            </tr><tr>
                <td>569</td>
                <td>2/1/2024</td>
                <td>Alberto Rios</td>
                <td>No</td>
                <td>$49.000</td>
                <td>Entregado</td>
                <td>
                  <button type="button" class="btn btn-primary">Detalle</button>
                </td>
                <td>
                  <button type="button" class="btn btn-primary">Anulado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Vendido</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Despachado</button>&nbsp;&nbsp;
                  <button type="button" class="btn btn-primary">Entregado</button>&nbsp;&nbsp;
                </td>
            </tr>

  </div>
  </tbody>
  </table>
  </div>
  <br><br><br><br><br><br><br><br><br><br>
  {% endblock content %}